@import "tailwindcss";
.browser-css{
          background-color: aliceblue;
}
.browser-css h1 {
    font-size: 2rem;
    font-weight: bold;
}

.browser-css p {
    margin: 0.75rem 0;
    line-height: 1.6;
}

.browser-css ul {
    padding-left: 1.25rem;
    list-style-type: disc;
}
